@use '../../colors' as *;

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid $headerBorder;
}

.inner {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoWrapper {
    position: relative;
    top: 5px;
}

.searchBarWrapper {
    max-width: 620px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.actions {
    display: flex;
    align-items: center;
    gap: 18px;
}

.actionButton {
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.15);
    padding: 12px;
    border: 1px solid $borderSecndaryColor;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    color: $secondaryTextGray;
    cursor: pointer;
    
}