@use '../colors' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.wrapper > img {
    width: 100%;
}
.cardItemsWrapper {
    width: 100%;
}
.title {
    font-family: var(--font-poppins), sans-serif;
    color: $primaryDark;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    margin: 10px 0px;
}
.content {
  max-width: 1440px;
  width: 100%;
  margin-top: 24px;
  gap: 10px;
  display: flex;
}


.cardProducts {
  flex: 1;
}
