@use '../../../../colors' as *;

.background {
    padding: 16px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.wrapper {
    margin: 24px 0;
    padding: 24px 16px;
    border: 1px solid $profileSecondaryGray;
    border-radius: 24px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    box-sizing: border-box;
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        color: $productCardText;
        font-size: 20px;
        font-weight: 600;
        margin: 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.tableScroll {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.tableInner {
    width: 100%;
    box-sizing: border-box;
}

.contentHeader,
.licenseEntry {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    gap: 6px;
    box-sizing: border-box;
}

.contentHeader {
    background-color: $otpBorder;
    position: sticky;
    top: 0;
    z-index: 2;
}

.contentItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.licenseEntry {
    background-color: $primaryWhite;
    border: 1px solid $secondaryBorderwhite;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
}

.contentHeader p,
.licenseEntry p {
    margin: 0;
}

.positive {
    color: $primaryGreen;
}

.negative {
    color: $errorsColor;
}

.waiting {
    color: $waitingYellow;
}


.paginationWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 6px;

    button {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        padding: 6px;
    }
}

.pageNumbers {
    display: flex;
    gap: 12px;
    align-items: center;
    color: $primaryGray;
    font-size: 16px;
    font-family: var(--font-poppins);
    font-weight: 500;
}

.pageNumber {
    padding: 8px 16px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $primaryWhite;
    cursor: pointer;

    &.activePage {
        background-color: $primaryGreen;
        color: $primaryWhite;
    }
}


@media (max-width: 768px) {
    .tableInner {
        min-width: 700px;
    }

    .pageNumber {
        width: 42px;
        height: 42px;
    }
}

@media (max-width: 420px) {
    .headerWrapper>button {
        max-width: 120px;
        font-size: 14px;
    }
}

.tableScroll::-webkit-scrollbar {
    height: 8px;
}
