@use '../../_colors' as *;

.wrapper {
  max-width: 1440px;
  width: 100%;
  min-height: 365px;
  margin: 0 auto;
  padding-top: 24px;
}

.sliderWrapper {
  position: relative;
}

.slider {
  overflow: hidden;
  visibility: hidden; 
  min-height: 320px;
  transition: visibility 0.2s ease;
  transition-delay: 0s;
  &.loaded {
    transition-delay: 0.5s;
    visibility: visible;
  }
}

.slide {
  display: flex;
  justify-content: center;
}

