@use '../../colors' as *;

.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    gap: 16px;
}

.profile {
    display: flex;
    gap: 12px;
    padding: 26px 10px 16px 10px;

    span {
        color: $primaryGreen;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1.08;
    }
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    letter-spacing: 1.02;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
}

.active {
    color: $primaryWhite;
    font-weight: 600;
    font-size: 16px;
    background-color: $primaryGreen;
    border-radius: 8px;
}

.notActive {
    color: $sidebarGray;
    font-weight: 600;
    font-size: 16px;
}

.actionNav {
    display: grid;
    gap: 10px;
    padding: 24px 16px;
}

.actionButton {
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.15);
    padding: 12px;
    border: 1px solid $borderSecndaryColor;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    color: $primaryGreen;
    cursor: pointer;
    background: $primaryWhite;
}

@media (max-width: 500px) {
    .sidebar {
        gap: 0px;
    }

    .profile {
    display: flex;
    gap: 12px;
    padding: 22px 22px 16px 22px;

    span {
        font-size: 18px;
    }
}

    .nav {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0px 8px;
    }

    .active {
        font-size: 12px;

        >img {
            width: 16px;
            height: 16px;
        }
    }

    .notActive {
        font-size: 12px;

        >img {
            width: 16px;
            height: 16px;
        }
    }

    .actionButton {
        padding: 8px 12px;
        font-size: 14px;

        >img {
            width: 18px;
            height: 18px;
        }
    }
}