@use '../../../colors' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid $profileSecondaryGray;
    max-width: 1100px;
    width: 100%;
    border-radius: 12px;
    margin: 24px 0px;
    padding: 16px;
    font-family: var(--font-poppins), sans-serif;
}

.header {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 12px;

    p {
        color: $productCardText;
        font-weight: 600;
        font-size: 16px;
    }

    cursor: pointer;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h1 {
        font-size: 20px;
        font-weight: 600;
        color: $productCardText;
    }

    p {
        font-size: 18px;
        font-weight: 400;
    }

}