@use '../../colors' as *;

.wrapper {
    background: $secondaryHeaderGreen;
    margin: 0 auto;
}

.inner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 24px;
    gap: 36px;
}

.inner li>a {
    color: $secondaryTextGreen;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 640px) {
    .inner {
        padding: 28px 14px;
        gap: 24px;
    }

    .inner li>a {
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .inner {
        padding: 28px 14px;
        gap: 24px;
    }

    .inner li>a {
        font-size: 14px;
    }
}
@media (max-width: 520px) {
    .inner {
        gap: 12px
    }
  .inner li:nth-child(2) a {
    font-size: 0;             
  }
  .inner li:nth-child(2) a::after {
    display: inline;
    font-size: 14px;        
    content: 'ხდკ';
  }
}