.contentWrapper {
    display: flex;
}
.content {
    width: 100%;
    margin: 0 auto;
}
.sidebarWrapper {
    max-width: 300px;
    width: 100%;
}

@media (max-width: 1024px) {
    .sidebarWrapper {
        display: none;
    }
}