.contentWrapper {
    display: flex;
    gap: 32px;
}
.content {
    width: 100%;
}
.sidebarWrapper {
    max-width: 300px;
    width: 100%;
}

@media (max-width: 1024px) {
    .sidebarWrapper {
        display: none;
    }
}