@use '../../colors' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 245px;
    border-radius: 16px;
    border: 1px solid $productCardBorder;
    background: $primaryWhite;
}

.imageSection {
    width: 100%;
}

.imageSection>img {
    width: 100%;
    height: 176px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.details {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    margin-top: 16px;
    padding: 0px 12px 16px 12px;
}

.headerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerSection h3 {
    color: $cardDarkText;
    font-size: 16px;
    font-weight: 600;
}

.farmerName {
    font-size: 14;
    font-weight: 500;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.location p {
    font-family: var(--font-poppins);
    font-size: 14px;
}

.bottomSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 21px;
    font-weight: 500;
    line-height: 30px;
    gap: 6px;
}

.profileCardButtons {
    display: flex;
    gap: 8px;
}