@use '../../colors' as *;

.background {
    display: flex;
    justify-content: center;
    padding: 24px 16px 56px 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    max-width: 1000px;
    width: 100%;
}

.wrapper>h1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    color: $productCardText;
}

.contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.imageWrapper {
    width: 80%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.texts>p {
    font-size: 16px;
    line-height: 22px;
    color: $primaryDark;
    text-align: justify;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

.quote>span {
    align-self: flex-end;
}

@media (max-width: 768px) {
    .wrapper {
        gap: 16px;
    }

    .contant {
        gap: 16px;
    }

    .wrapper>h1 {
        font-size: 24px;
        line-height: 36px;
    }
}

@media (max-width: 512px) {
    .imageWrapper {
        width: 100%;
    }

    .wrapper {
        gap: 14px;
    }

    .contant {
        gap: 14px;
    }

    .wrapper>h1 {
        font-size: 20px;
        line-height: 26px;
    }
}