@use '../../colors' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 330px;
  width: 100%;

  > h2 {
    font-size: 22px;
    line-height: 20px;
    font-weight: 600;
    color: $primaryDark;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid $productCardBorder;
  border-radius: 12px;
  padding: 12px;
}
