@use '../../colors' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid $lightGrayBorder;
  padding: 12px 24px;
  gap: 12px;
  width: 100%;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  >div {
    flex: 1 1 0;
  }

}

.texts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  border-right: 1px solid $lightGrayBorder;
  padding-right: 16px;

  >h3 {
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
    color: $primaryGreen;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 14px;
}

.value {
  font-size: 16px;
  color: $productCardText;
  line-height: 28px;
  font-weight: 500;
}

.licensesTitle {
  text-align: center;
  font-size: 18px;
  color: $primaryGreen;
  line-height: 28px;
  font-weight: 700;
}

.licenses {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 16px;
}

.licenseDot {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: $primaryGreen;
  flex: 0 0 auto;
}

.licensesIcons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.licenseIcon {
  object-fit: contain;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}