@use '../../colors' as *;

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 26px;
  padding-top: 35px;
  margin: 0 auto;

  @media (max-width: 1400px) {
    max-width: 860px;
  }

  @media (max-width: 1024px) {
    max-width: 800px;
  }

  @media (max-width: 850px) {
    max-width: 800px;
  }

  @media (max-width: 780px) {
    max-width: 650px;
  }

  @media (max-width: 650px) {
    max-width: 420px;
  }

  @media (max-width: 550px) {
    max-width: 380px;
  }

  @media (max-width: 410px) {
    max-width: 340px;
  }
}

.headerNavWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  >img {
    display: none;
  }

  @media (max-width: 1024px) {
    >img {
      display: flex;
    }
  }
}

.headerNav {

  display: flex;
  align-items: center;
  gap: 8px;

  >a,
  >p {
    font-size: 16px;
    color: $primaryDark;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: $primaryGreen;
    }
  }

  @media (max-width: 768px) {

    >a,
    >p {
      font-size: 14px;
    }
  }

}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  gap: 32px;

  @media (max-width: 1400px) {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 820px) {
    gap: 10px;
  }

  @media (max-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 410px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

.homeLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 12px;
}

.paginationWrapper button {
  display: flex;
  align-items: center;
}

.pageNumbers {
  display: flex;
  gap: 12px;
  align-items: center;
  color: $primaryGray;
  font-size: 16px;
  font-family: var(--font-poppins);
  font-weight: 500;
  flex-wrap: wrap;
}

.pageNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.activePage {
  background-color: $primaryGreen;
  color: $primaryWhite;
}
.noData {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  color: $primaryGreen;
  padding: 32px; 
}

@media (max-width: 600px) {
  .pageNumbers {
    gap: 6px;
  }

  .pageNumber {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }
}


@media (max-width: 450px) {
  .pageNumber {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }

  .paginationWrapper button img {
    width: 28px;
    height: 28px;
  }

}