$primaryGreen: #00b207;
$secondaryGreen: #008605;
$secondaryTextGreen: #2C690B;
$darkGreen: #2C742F;
$primaryWhite: #FFFFFF;
$primaryGray: #666666;
$secondaryGray: #999;
$borderGray: #e6e6e6;
$primaryDark: #1a1a1a;
$errorsColor: #FF0000;
$deleteRedColor: #CF0000;
$borderSecndaryColor: #E7F0F4;
$headerBorder: #744603;
$secondaryTextGray: #A6C8C8;
$secondaryHeaderGreen: #F5FFF5;
$productCardBorder: #C0C0C0;
$secondaryBorderGray: #EDEDED;
$cardDarkText: #030712;
$productCardText: #37474F;
$footerBackground: #191919;
$footerSecondaryText: #808080;
$footerBorder: #333333;
$otpInputBackground: #E4E4E4;
$otpInputBorder: #B0B0B0;
$otpBorder: #F2F2F2;
$sidebarGray: #686868;
$profileBorderGray: #DBDBDB; 
$profileTextGray: #A2A2A2;
$profileInputGray: #C5C5C5;
$profileSecondaryGray: #CFCFCF;
$secondaryBorderwhite: #EBEBEB;
$waitingYellow: #FFA600;
$profileInputSecondaryGray: #7C7C7C;