$primaryGreen: #00b207;
$secondaryGreen: #008605;
$primaryWhite: #FFFFFF;
$primaryGray: #666;
$secondaryGray: #999;
$borderGray: #e6e6e6;
$primaryDark: #1a1a1a;
$errorsColor: #FF0000;
$borderSecndaryColor: #E7F0F4;
