@use '../../_colors' as *;

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;

    h2 {
        color: $productCardText;
        font-size: 24px;
        font-weight: 700;
    }

    .seeAll {
        color: $productCardText;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
    }
}

.sliderWrapper {
    position: relative;
}

.slider {
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: center;
}

// .arrow {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     z-index: 2;
//     background-color: red;
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     border: none;
//     cursor: pointer;
//     opacity: 0.7;
// }

// .arrowLeft {
//     left: -16px;
// }

// .arrowRight {
//     right: -10px;
// }