@use '../../../colors' as *;

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;

    >button {
        align-self: flex-end;
    }
}

.content {
    display: flex;
    flex-direction: column;

    >h2 {
        text-align: center;
        color: $productCardText;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        padding-bottom: 10px;
    }
}

.textsWrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    >p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: $productCardText;
    }
}

.textsWrapperItem {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-top: 1px solid $productDetailBorder;
    border-bottom: 1px solid $productDetailBorder;
    padding: 10px 0px;

    >p {
        color: $productCardText;
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
    }
}
.actions {
    display: flex;
    align-items: center;
    gap: 32px;
    >* {
        flex: 1;
    }
}