@use '../../colors' as *;

.cardItemsSection {
  border: 1px solid $borderGray;
  border-radius: 6px;
  padding: 8px 12px;
  width: 100%;
}

.cardItemsHeader {
  display: grid;
  grid-template-columns: 1fr 0.6fr 0.6fr 0.9fr 0.7fr 0.3fr;
  align-items: center;
  border-bottom: 1px solid $borderGray;
  padding-bottom: 14px;
  margin-bottom: 10px;

  p {
    color: $footerSecondaryText;
    font-size: 14px;
    font-family: var(--font-poppins), sans-serif;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
  }
}

.cardItemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 0.6fr 0.6fr 0.9fr 0.7fr 0.3fr;
  align-items: center;

  p {
    color: $primaryDark;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
  }
}

.productInfo {
  display: flex;
  align-items: center;
  gap: 32px;

  .productImage {
    object-fit: contain;
    width: 100px;
    height: 100px;
  }
}

.deleteIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    cursor: pointer;
  }
}
