@use '../../colors' as *;

.cardItemsSection {
  border: 1px solid $borderGray;
  border-radius: 6px;
  padding: 8px 12px;
  width: 100%;
  overflow-x: auto;
}

.cardItemsHeader {
  display: grid;
  grid-template-columns: 1fr 0.3fr 0.75fr 0.3fr 0.5fr 0.3fr;
  gap: 6px;
  align-items: center;
  border-bottom: 1px solid $borderGray;
  padding-bottom: 14px;
  margin-bottom: 10px;
  min-width: 900px;

  p {
    color: $footerSecondaryText;
    font-size: 14px;
    font-family: var(--font-poppins), sans-serif;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
  }
}

.cardItemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 900px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 0.3fr 0.75fr 0.3fr 0.5fr 0.3fr;
  gap: 6px;
  align-items: center;
  gap: 6px;

  p {
    color: $primaryDark;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
  }
}

.productInfo {
  display: flex;
  align-items: center;
  gap: 8px;

  .productImage {
    object-fit: contain;
    width: 80px;
    height: 80px;
  }
}

.deleteIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .productInfo {
    gap: 8px;
  }

  .card {
    p {
      font-size: 14px;
    }
  }
  .cardItemsHeader,
  .cardItemsWrapper {
      min-width: 800px;
  }
  
  .card,
  .cardItemsHeader {
    grid-template-columns: 1fr 0.3fr 0.75fr 0.3fr 0.5fr 0.3fr;
  }
}
