@use '../../_colors' as *;

.buttonBase {
    display: flex;
    justify-content: center;
    background-color: $primaryGreen;
    color: $primaryWhite;
    border: none;
    border-radius: 8px;
    transition: 0.3s ease;

    &:hover {
        background-color: $secondaryGreen;
    }
}

.largeSize {
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 56px;
    max-width: 360px;
    width: 100%;
}

.mediumSize {
    padding: 20px 24px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 8px;
    max-width: 180px;
    width: 100%;
}

.normalSize {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 8px;
    max-width: 170px;
    width: 100%;
}

.smallSize {
    padding: 8px;
    font-size: 12px;
    font-weight:700;
    letter-spacing: 0.5px;
    border-radius: 8px;
    max-width: 120px;
    width: 100%;
}

.disabled {
    color: $errorsColor;
    cursor: not-allowed;
}

.deleteStyle {
    background-color: $deleteRedColor
}

.deleteStyle:hover {
    background-color: $errorsColor;
}