.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    max-width: 520px;
    width: 100%;
    gap: 20px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    box-shadow: 0 0 56px rgba(0, 38, 3, 0.24);
    animation: fadeInScale 0.5s ease forwards;
}

.formWrapper h2 {
    color: #1A1A1A;
    font-size: 32px;
    font-weight: 600;
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.inputsWrapper input {
    padding: 14px 16px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
}

.inputsWrapper input::placeholder {
    color: #999999;
    font-size: 16px;
    font-weight: 400;
}


.passwordWrapper>div {
    position: relative;
}

.passwordWrapper img {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
}

.passwordWrapper input {
    width: 100%;
    padding-right: 42px;
}

.passwordWrapper p {
    margin-top: 12px;
}

.buttonsWrapper {
    width: 100%;
}

.buttonsWrapper button {
    width: 100%;
    background-color: #00B207;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 16px;
    border-radius: 46px;
}

.buttonsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.buttonsWrapper p {
    font-size: 14px;
    font-weight: 500;
    color: #666666;
}

.buttonsWrapper a {
    color: #1A1A1A;
}

.error {
    font-size: 14px;
    font-weight: 500;
    color: red
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.90);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}