@use '../../colors' as *;

.checkoutWrapper {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font-poppins);
  margin-bottom: 100px;
}

.checkoutWrapper>div {
  border-radius: 6px;
  border: 1px solid $borderGray;
}

.addressesWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 10px 20px;

  h2 {
    font-size: 20px;
    font-weight: 500;
    color: $primaryDark;
    text-align: center;
  }
}

.addressDetails {
  display: flex;
  flex-direction: column;
  gap: 6px;

  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.button {
  font-size: 18px;
  font-weight: 500;
  color: $primaryGreen;
  cursor: pointer;
}

.totalInfo {
  display: flex;
  flex-direction: column;
  padding: 12px 70px;
  gap: 12px;

  h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: $primaryDark;
    text-align: center;
  }
}

.totalDetails {
  div {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
  }
}

.totalDetailsPrice {
  border-bottom: 1px solid $borderGray;
  border-radius: 5px;

  h3 {
    color: $cartTotalGray;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }

  p {
    color: $primaryDark;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
}

.totalDetailsTotal {
  h3 {
    color: $primaryGreen;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
  }

  p {
    color: $primaryGreen;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
  }
}

.buttonGeneralStyles {
  display: flex;
  justify-content: center;
  background-color: $primaryGreen;
  color: $primaryWhite;
  border: none;
  border-radius: 8px;
  transition: 0.3s ease;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  max-width: 380px;
  width: 100%;

  &:hover {
    background-color: $secondaryGreen;
  }
}

.buttonDesableStyles {
  background-color: $desableButton;
  cursor: not-allowed;
  pointer-events: none;
}
.errorText {
  font-size: 14px;
  line-height: 20px;
  color: red;
  text-align: center;
}
@media (max-width: 1024px) {
  .buttonGeneralStyles {
    align-self: center;
  }
}
@media (max-width: 512px) {
  .addressesWrapper {
    padding: 12px;
  }

  .totalInfo {
    padding: 12px;
  }
}