@use '../../colors' as *;

.wrapper {
    display: flex;
    position: relative;
    flex-grow: 1;
}

.searchIcon {
  background-color: $primaryGreen;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 14px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.searchInput {
    max-width: 620px;
    width: 100%;
    box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    border: 1px solid $primaryGreen;
    padding: 16px 16px 16px 64px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease, box-shadow 0.3s ease;

    &:focus {
        outline: none;
        border-color: $primaryGreen;
        box-shadow: 1px 1px 5px $primaryGreen;
    }

    &:hover {
        background-color: $borderGray;
    }
}


@media (max-width: 768px) {
    .searchInput {
        padding: 12px 12px 12px 64px;
    }

    .searchIcon {
        padding: 10px 12px 12px 12px;
        >img {
            width: 18px;
            height: 18px;
        }
    }
}
@media (max-width: 500px) {
    .searchInput {
        padding: 10px 10px 10px 46px;
        font-size: 12px;
    }

    .searchIcon {
        padding: 10px 12px 10px 12px;
        >img {
            width: 14px;
            height: 14px;
        }
    }
}