@use '../../colors' as *;

.descriptionWrapper {
    height: 338px;
    padding: 20px;
    max-width: 340px;
    width: 100%;
    border: 1px solid $borderGray;
    font-family: var(--font-poppins);
    border-radius: 6px;
    >h2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
    }
    >p {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        max-height: 260px; 
        overflow-y: auto;
    }
}