@use '../../colors' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    max-width: 520px;
    width: calc(100% - 64px);
    gap: 20px;
    background-color: $primaryWhite;
    border-radius: 10px;
    box-shadow: 0 0 56px rgba(0, 38, 3, 0.24);
    animation: fadeInScale 0.5s ease forwards;
}

.formWrapper h2 {
    color: $primaryDark;
    font-size: 32px;
    font-weight: 600;
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.inputsWrapper input {
    padding: 14px 16px;
    border: 1px solid $borderGray;
    border-radius: 8px;
}

.inputsWrapper input::placeholder {
    color: $secondaryGray;
    font-size: 16px;
    font-weight: 400;
}


.passwordWrapper>div {
    position: relative;
}

.passwordWrapper img {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
}

.passwordWrapper input {
    width: 100%;
    padding-right: 42px;
}

.passwordWrapper p {
    margin-top: 12px;
}

.buttonsWrapper {
    width: 100%;
}

.buttonsWrapper button {
    width: 100%;
    background-color: $primaryGreen;
    color: $primaryWhite;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 16px;
    border-radius: 46px;
}

.buttonsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.buttonsWrapper p {
    font-size: 14px;
    font-weight: 500;
    color: $primaryGray;
}

.buttonsWrapper a {
    color: $primaryDark;
}

.error {
    font-size: 14px;
    font-weight: 500;
    color: red
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.90);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 500px) {
  .formWrapper h2 {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .formWrapper h2 {
    font-size: 20px;
  }

  .inputsWrapper input {
    padding: 10px 38px 10px 8px; 
    font-size: 12px;
  }

  .buttonsWrapper button {
    width: 90%;
    font-size: 12px;
    padding: 12px 16px;
    border-radius: 46px;
  }

  .buttonsWrapper p {
    font-size: 12px;
  }

  .error {
    font-size: 12px;
  }
}