@use '../../colors' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 42px 36px;
    border: 1px solid $profileBorderGray;
    border-radius: 24px;
    margin: 20px 0px;
    max-width: 900px;
    width: 100%;
}
.fieldSectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.fieldSection {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    >div {
        flex: 1 1 calc(50% - 16px);
        display: flex;
        flex-direction: column;
    }

    input,
    textarea {
        border: 1px solid $profileInputGray;
        border-radius: 12px;
        flex: 1 1 calc(50% - 16px);
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 500;
    }

    textarea {
        height: 160px;
    }

    select {
        padding: 12px 24px;
        background: url('/grayDownArrow.svg') no-repeat right 12px center;
        background-size: 24px;
        border: 1px solid $profileInputGray;
        border-radius: 12px;
        font-size: 16px;
        line-height: 20px;
    }

}

.texts {
    display: flex;
    flex-direction: column;
    gap: 12px;

    label {
        font-size: 16px;
        font-weight: 700;
        color: $productCardText;
    }

    p {
        font-size: 16px;
        font-weight: 500;
        color: $profileTextGray;
    }
}

.dropDowns {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.submitBtn {
    padding: 16px 56px;
    background-color: $primaryGreen;
    align-self: center;
    color: $primaryWhite;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
}
.error {
    text-align: end;
    color: $errorsColor;
    font-size: 14px;
}


///////

.fieldSection > .imageinputsWrapper {
    flex-direction: row;
    gap: 12px;
}

.imageWrapper {
  position: relative;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $profileInputGray;
  border-radius: 8px;
  cursor: pointer;

  input {
    position: absolute;
    padding: 0px;
    inset: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer;
  }

  .chooseImage {
    width: 52px;
    height: 52px;
    pointer-events: none;
  }

    .fullImage {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 8px;
  }
}

.productQuantity {
    max-width: 120px;
    max-height: 44px;
}
.priceContent {
    display: flex;
    align-items: center;
    max-width: 120px;
    position: relative;

    span {
        position: absolute;
        right: 12px;
        font-size: 16px;
        font-weight: 500;
    }

    input {
        width: 100%;
        padding: 12px 32px 12px 24px;
    }
}
